<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ options.title }}</title>

    <meta name="description" content="">
    <meta name="generator" content="kss-node">
    <meta name="viewport" content="width=device-width">

    {{ styles|raw }}

</head>
<body class="co">
{#
  Inject svg symboles
  use this inline style to prevent bug from display:none with svg mask and gradients
#}
<div style="height:0;width:0;position:absolute;visibility:hidden;overflow:hidden">{% include '../dist/svg/svg.svg' %}</div>
<div class="co_wrapper">
    {# side navigation #}
    <header>
        <div class="co_trigger-sidebar">
            <p class="co_content pr2 pl2">
                <button id="trigger">
                    <svg width="30" height="30"><use xlink:href="#symbol-menu"/></svg>
                    <span class="mask">Aller au menu</span>
                </button>
            </p>
        </div>
        <ul id="sidebar" class="co_sidebar">
            <li class="co_sidebar-brand">
                <a href="./">
                    <svg width="60" height="60"><use xlink:href="#symbol-logo"/></svg>
                    <span class="mask">Retour à l'accueil</span>
                </a>
            </li>
            <li><a href="./">About</a></li>
            {% for menu_item in menu %}
                <li{% if menu_item.isActive %} class="co_sidebar-active"{% endif %}>
                    <a href="section-{{ menu_item.referenceURI }}.html">{{ menu_item.header }}</a>

                    {% if menu_item.children|length %}
                        {# Display 1st level of sub navigation #}
                        <ul class="co_sidebar-children">
                            {% for child in menu_item.children if not child.isGrandChild %}
                                <li{% if child.isActive %} class="co_sidebar-active"{% endif %}>
                                    <a href="section-{{ menu_item.referenceURI ~ '.html#kssref-' ~ child.referenceURI }}">{{ child.header }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </header>

    {# page content #}
    <article role="main" class="co_page pb6">
        {# homepage #}
        {% if homepage %}
            <div id="kssref-homepage" class="co_section-depth-1">
                <h1 class="co_section-h1 co_content pl2 pr2">About</h1>
            </div>
            <section id="kssref-homepage" class="co_section-home co_section-depth-2 co_content pl2 pr2">
                {{ homepage|raw }}
            </section>
        {% endif %}

        {# display each section, in order. #}
        {% for section in sections %}
            {% set depth = section.depth %}
            {% set sectionElement = loop.first ? 'div' : 'section' %}
            <{{ sectionElement }} id="kssref-{{ section.referenceURI }}" class="co_section-depth-{{ depth }} {% if depth > 1 %} co_content pl2 pr2{% endif %}">


            {# section header #}
            {% set headerElement = (depth > 6) ? 'h6' : 'h' ~ depth %}
            <{{ headerElement }} class="co_section-h{{ depth }} {% if 1 == depth %} co_content pl2 pr2{% endif %}">
                {# section title #}
                {% if depth > 1 %}
                    <a href="#kssref-{{ section.referenceURI }}">
                {% endif %}
                    <strong class="co_section-ref">{{ section.referenceNumber }}</strong>
                    {{ section.header }}
                {% if depth > 1 %}
                    </a>
                {% endif %}
            </{{ headerElement }}>
            {# @TODO: add children's navigation #}

            {# source #}
            {% if section.sourceFile.name and depth > 1 %}
                <div class="co_subsection clearfix">
                    <p class="co_subsection-title col-md-3">Source</p>
                    <p class="co_subsection-content co_source col-md-9">
                        <code>{{ section.sourceFile.name }}{% if section.sourceFile.line > 1 %}, Line: line {{ section.sourceFile.line }}{% endif %}</code>
                    </p>
                </div>
            {% endif %}


            {# section description #}
            {% if section.description %}
                <div class="co_subsection clearfix{% if 1 == depth %} co_content{% endif %}">
                    <p class="co_subsection-title col-md-3">Description</p>
                    <div class="co_subsection-content col-md-9">
                        {{ section.description|raw }}
                    </div>
                </div>
            {% endif %}


            {# section colors #}
            {% if section.colors %}
                <ul class="co_colors clearfix">
                    {% kssColors section.colors %}
                    {# Available data, but not used in the template:
                        -> color.rgb [r|g|b]
                        -> color.hsl [h|s|l]
                        -> color.desc
                    #}
                    <li class="box">
                        <div class="co_colors-demo" style="background-color:{{color.hex}}"></div>
                        <p class="co_colors-name">{{ color.name }}</p>
                        <p class="co_colors-hex">{{ color.hex }}</p>
                    </li>
                    {% endkssColors %}
                </ul>
            {% endif %}


            {# section icons #}
            {% if section.icons %}
                <ul class="co_icons clearfix">
                    {% kssIcons section.icons %}
                    {# Available data, but not used in the template:
                        -> icon.character
                        -> icon.desc
                    #}
                    <li class="box">
                        <div class="co_icons-demo">{{ icon.character }}</div>
                        <div><span class="co_icons-name">{{ icon.name }}</span></div>
                    </li>
                    {% endkssIcons %}
                </ul>
            {% endif %}


            {# section example #}
            {% if section.example %}
                {# example / default styling #}
                <div class="co_subsection clearfix">
                    <p class="co_subsection-title col-md-3">
                        {% if section.modifiers is not empty %}
                            Default styling
                        {% else %}
                            Example
                        {% endif %}

                    </p>
                    <div class="co_subsection-demo col-md-9 clearfix mb1">
                        {{ section.example|raw }}
                    </div>
                </div>

                {# modifiers #}
                {% if section.modifiers is not empty %}
                    <div class="co_subsection clearfix">
                        <p class="co_subsection-title col-md-3">Modifiers</p>
                        <div class="co_subsection-content co_modifier col-md-9 clearfix mb2">
                            {% for modifier in section.modifiers %}
                                <p><code>{{ modifier.name }}</code></p>
                                <p>{{ modifier.description|raw }}</p>
                                <div class="co_subsection-demo clearfix mb3">
                                    {{ modifier.markup|raw }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}

                {# markup #}
                {% if section.markup %}
                    <div class="co_subsection clearfix">
                        <p class="co_subsection-title col-md-3">Markup</p>
                        <div class="co_subsection-content co_markup col-md-9">
                            <p class="co_expand"><span class="btn">click to expand</span></p>
                            <pre class="pa1 prettyprint linenums lang-html"><code data-language="html">{{ section.markup|escape('html') }}</code></pre>
                            <p class="co_markup-action font-secondary align-right"><span class="collapse pr1">Collaspe</span><span>Open code in new tab</span></p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}


            {# parameters #}
            {% if section.parameters|length %}
                <div class="co_subsection clearfix">
                    <p class="co_subsection-title col-md-3">Parameters</p>
                    <div class="co_subsection-content co_parameters col-md-9">
                        {% for parameter in section.parameters %}
                            <p><code>{{ parameter.name }}</code>{% if parameter.defaultValue %} (<code>{{ parameter.defaultValue }}</code>){% endif %}: {{ parameter.description|raw }}</p>

                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </{{ sectionElement }}>
        {% endfor %}
    </article>

    {# footer #}
    <footer class="co_footer footerbar">
        <div class="co_content clearfix">
            <p class="float-left">© Copyright <a href="http://www.20minutes.fr">20 Minutes</a></p>
            <p class="float-right"><a href="https://twitter.com/Tech20Minutes" class="ml2" data-icon="twitter"> Follow us </a></p>
            <p class="float-right"><a href="https://github.com/20minutes/colette" class="ml2" data-icon="github"> View it on Github</a></p>
        </div>
    </footer>
</div>
<span id="overlay" class="co_overlay" aria-hidden="true">
    <button id="close">✕<span class="mask">Fermer</span></button>
</span>

<!-- scripts -->
<script src="kss-assets/prettify.js"></script>
{{ scripts|raw }}
<script>
    var trigger = document.getElementById('trigger'),
        sidebar = document.getElementById('sidebar'),
        overlay = document.getElementById('overlay'),
        close = document.getElementById('close'),
        triggerClose = {1: close, 2: sidebar, 3: overlay},
        markups = document.getElementsByClassName('co_markup'),
        headroom = new Headroom(document.querySelector('.co_trigger-sidebar'), {
            offset: 50,
            tolerance: 5,
            classes: {
                initial: 'co_trigger-sidebar-animated',
                pinned: 'co_trigger-sidebar-pinned',
                unpinned: 'co_trigger-sidebar-unpinned'
            }
        });

    {# init headroom #}
    headroom.init();

    {# prettyPrint #}
    prettyPrint();

    {# expand code blocks #}
    for (var i = 0; i < markups.length; i++) {
        markups[i].addEventListener('click', function(e) {
            this.classList.toggle('co_markup-expanded');
        }, false);
    }

    {# trigger sidebar #}
    trigger.addEventListener('click', function(){
        document.body.style.overflow = "hidden"; // body should not scroll when sidebar is open
        sidebar.classList.add('co_sidebar-open');
        overlay.removeAttribute('aria-hidden');
    })

    {# close sidebar #}
    function closeSidebar() {
        document.body.removeAttribute('style');
        sidebar.classList.remove('co_sidebar-open');
        overlay.setAttribute('aria-hidden', true);
    }
    for (var key in triggerClose) {
        triggerClose[key].addEventListener('click', closeSidebar);
    }

</script>
</body>
</html>
