<div class="block box">
    <p class="block-title">
        <svg height="11" width="11"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-clock"></use></svg>
        Example of a title
    </p>
    <ul class="block-list">
        <li class="block-list-item">
            <a class="card {{ modifier_class }}" href="#">
                <figure class="media" role="group">
                    <div class="media-wrap">
                        <img width="120" height="78" src="http://img.20mn.fr/9IR7-SzgSIidHDx0YJA3Pw/120x78_bouchons-autoroute-pres-vienne-2-aout-2014" alt="Des bouchons sur l'autoroute près de Vienne le 2 août 2014">
                    </div>
                </figure>
                <div class="teaser">
                    <p class="teaser-headline">Label</p>
                    <p class="teaser-title">This is the content title</p>
                </div>
            </a>
        </li>
        <li class="block-list-item">
            <a class="card {{ modifier_class }}" href="#">
                <figure class="media" role="group">
                    <div class="media-wrap">
                        <img width="120" height="78" src="http://img.20mn.fr/9IR7-SzgSIidHDx0YJA3Pw/120x78_bouchons-autoroute-pres-vienne-2-aout-2014" alt="Des bouchons sur l'autoroute près de Vienne le 2 août 2014">
                    </div>
                </figure>
                <div class="teaser">
                    <p class="teaser-headline">Label</p>
                    <p class="teaser-title">This is the content title</p>
                </div>
            </a>
        </li>
        <li class="block-list-item">
            <a class="card {{ modifier_class }}" href="#">
                <figure class="media" role="group">
                    <div class="media-wrap">
                        <img width="120" height="78" src="http://img.20mn.fr/9IR7-SzgSIidHDx0YJA3Pw/120x78_bouchons-autoroute-pres-vienne-2-aout-2014" alt="Des bouchons sur l'autoroute près de Vienne le 2 août 2014">
                    </div>
                </figure>
                <div class="teaser">
                    <p class="teaser-headline">Label</p>
                    <p class="teaser-title">This is the content title</p>
                </div>
            </a>
        </li>
        <li class="block-list-item" aria-hidden="true">
            <a class="card {{ modifier_class }}" href="#">
                <figure class="media" role="group">
                    <div class="media-wrap">
                        <img width="120" height="78" src="http://img.20mn.fr/9IR7-SzgSIidHDx0YJA3Pw/120x78_bouchons-autoroute-pres-vienne-2-aout-2014" alt="Des bouchons sur l'autoroute près de Vienne le 2 août 2014">
                    </div>
                </figure>
                <div class="teaser">
                    <p class="teaser-headline">Label</p>
                    <p class="teaser-title">This is the content title</p>
                </div>
            </a>
        </li>
        <li class="block-list-item" aria-hidden="true">
            <a class="card {{ modifier_class }}" href="#">
                <figure class="media" role="group">
                    <div class="media-wrap">
                        <img width="120" height="78" src="http://img.20mn.fr/9IR7-SzgSIidHDx0YJA3Pw/120x78_bouchons-autoroute-pres-vienne-2-aout-2014" alt="Des bouchons sur l'autoroute près de Vienne le 2 août 2014">
                    </div>
                </figure>
                <div class="teaser">
                    <p class="teaser-headline">Label</p>
                    <p class="teaser-title">This is the content title</p>
                </div>
            </a>
        </li>
        <li class="block-list-item" aria-hidden="true">
            <a class="card {{ modifier_class }}" href="#">
                <figure class="media" role="group">
                    <div class="media-wrap">
                        <img width="120" height="78" src="http://img.20mn.fr/9IR7-SzgSIidHDx0YJA3Pw/120x78_bouchons-autoroute-pres-vienne-2-aout-2014" alt="Des bouchons sur l'autoroute près de Vienne le 2 août 2014">
                    </div>
                </figure>
                <div class="teaser">
                    <p class="teaser-headline">Label</p>
                    <p class="teaser-title">This is the content title</p>
                </div>
            </a>
        </li>
        <li class="block-list-item" aria-hidden="true">
            <a class="card {{ modifier_class }}" href="#">
                <figure class="media" role="group">
                    <div class="media-wrap">
                        <img width="120" height="78" src="http://img.20mn.fr/9IR7-SzgSIidHDx0YJA3Pw/120x78_bouchons-autoroute-pres-vienne-2-aout-2014" alt="Des bouchons sur l'autoroute près de Vienne le 2 août 2014">
                    </div>
                </figure>
                <div class="teaser">
                    <p class="teaser-headline">Label</p>
                    <p class="teaser-title">This is the content title</p>
                </div>
            </a>
        </li>
    </ul>
    <div class="block-footer">
        <a class="linkwithsvg float-left" href="#">
            <svg height="11" width="11">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-more"></use>
            </svg>
            <span class="mask">Plus</span>
            <span class="linkwithsvg-label">example of a footer link</span>
        </a>
        <div class="pager float-right" role="navigation">
            <button class="pager-prev" disabled="disabled">
                <svg height="13" width="13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-arrow-left"></use></svg>
                <span class="mask">Previous</span>
            </button>
            <span class="pager-count">
                <span class="pager-current">1</span> on <span class="pager-max">3</span>
            </span>
            <button class="pager-next">
                <svg height="13" width="13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-arrow-right"></use></svg>
                <span class="mask">Next</span>
            </button>
        </div>
    </div>
</div>
