<p>
    <a href="#" class="btn {{ modifier_class }} mr1">Call to action</a>
    <a href="#" class="btn {{ modifier_class }} mr1">
        <svg class="btn-picto btn-picto-left" height="14" width="14"><use xlink:href="#symbol-more"></use></svg>
        With left icon
    </a>
    <a href="#" class="btn {{ modifier_class }} mr1">
        With right icon
        <svg class="btn-picto btn-picto-right" height="14" width="14"><use xlink:href="#symbol-arrow-right"></use></svg>
    </a>
</p>
<p class="mt2">
    <button class="btn {{ modifier_class }} mr1" type="submit">Submit</button>
    <button class="btn {{ modifier_class }} mr1" disabled type="submit">Submit (disabled)</button>
</p>
