<p class="mb1">
    <a href="#" class="btn {{ modifier_class }} mr1">
        <svg class="left" height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btn-': ''}) }}"></use></svg>
        Call to action
    </a>
    <button class="btn {{ modifier_class }} mr1">
        <svg class="left" height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btn-': ''}) }}"></use></svg>
        Button
    </button>
    <button class="btn {{ modifier_class }} mr1" disabled>
        <svg class="left" height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btn-': ''}) }}"></use></svg>
        Disabled
    </button>
</p>
