<p class="mb1">
    <a href="#" class="btn-icon {{ modifier_class }} mr1 float-left">
        <svg class="left" height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btn-': ''}) }}"></use></svg>
        <span class="mask">{{ modifier_class|replace({'btn-': ''}) }}</span>
    </a>
    <button class="btn-icon {{ modifier_class }} mr1 float-left">
        <svg class="left" height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btn-': ''}) }}"></use></svg>
        <span class="mask">{{ modifier_class|replace({'btn-': ''}) }}</span>
    </button>
    <button class="btn-icon {{ modifier_class }} mr1" disabled>
        <svg class="left" height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btn-': ''}) }}"></use></svg>
        <span class="mask">{{ modifier_class|replace({'btn-': ''}) }}</span>
    </button>
</p>
