<strong style="margin-left: .5rem">Text color</strong>
<ul style="display: flex; flex-wrap: wrap; align-items: stretch; justify-content: flex-start; padding: 0; margin: 0 0 2rem; list-style: none;">
    {% for key, name in colors %}
        <li style="width: 14rem; overflow: hidden; font-size: 14px; padding: .3rem; margin: .5rem; text-align: center; border-radius: 0.5rem; box-shadow: 0 0 0 0.0625rem var(--co-box-edge-color), 0 0.0625rem 0.25rem 0.0625rem rgba(0,0,0,0.06)">
            <div class="color-{{ key }}">
                <strong style="display: block;">{{ name }}</strong>
            </div>
            <p style="flex: 1; display: block; padding: 0.2em; border-radius: 0.25em; text-align: center; color: var(--co-color-min); background-color: var(--co-color-bg-base);">
                <code>.color-{{ key }}</code>
            </p>
        </li>
    {% endfor %}
</ul>
   
<strong style="margin-left: .5rem">Border color</strong>
<ul style="display: flex; flex-wrap: wrap; align-items: stretch; justify-content: flex-start; padding: 0; margin: 0 0 2rem; list-style: none;">
    {% for key, name in colors %}
        <li style="width: 14rem; overflow: hidden; font-size: 14px; padding: .3rem; margin: .5rem; text-align: center; border-radius: 0.5rem; box-shadow: 0 0 0 0.0625rem var(--co-box-edge-color), 0 0.0625rem 0.25rem 0.0625rem rgba(0,0,0,0.06)">
            <div class="co_color-demo border-item border-color-{{ key }}" style="height: 3em; border-radius: 0.5em; border-width: 2px; border-style: solid;"></div>
            <p style="flex: 1; display: block; padding: 0.2em; border-radius: 0.25em; text-align: center; color: var(--co-color-min); background-color: var(--co-color-bg-base);">
                <strong style="display: block;">{{ name }}</strong>
                <code>.border-color-{{ key }}</code>
            </p>
        </li>
    {% endfor %}
</ul>

<strong style="margin-left: .5rem">Background color</strong>
<ul style="display: flex; flex-wrap: wrap; align-items: stretch; justify-content: flex-start; padding: 0; margin: 0 0 2rem; list-style: none;">
    {% for key, name in colors %}
        <li style="width: 14rem; overflow: hidden; font-size: 14px; padding: .3rem; margin: .5rem; text-align: center; border-radius: 0.5rem; box-shadow: 0 0 0 0.0625rem var(--co-box-edge-color), 0 0.0625rem 0.25rem 0.0625rem rgba(0,0,0,0.06)">
            <div class="co_color-demo bg-{{ key }}" style="height: 3em; border-radius: 0.5em;"></div>
            <p style="flex: 1; display: block; padding: 0.2em; border-radius: 0.25em; text-align: center; color: var(--co-color-min); background-color: var(--co-color-bg-base);">
                <strong style="display: block;">{{ name }}</strong>
                <code>.bg-{{ key }}</code>
            </p>
        </li>
    {% endfor %}
</ul>

<strong style="margin-left: .5rem">Fill color</strong>
<ul style="display: flex; flex-wrap: wrap; align-items: stretch; justify-content: flex-start; padding: 0; margin: 0; list-style: none;">
    {% for key, name in colors %}
        <li class="fill-item" style="width: 14rem; overflow: hidden; font-size: 14px; padding: .3rem; margin: .5rem; text-align: center; border-radius: 0.5rem; box-shadow: 0 0 0 0.0625rem var(--co-box-edge-color), 0 0.0625rem 0.25rem 0.0625rem rgba(0,0,0,0.06)">
            <svg class="fill-{{ key }}" height="35" width="35" aria-hidden="true" focusable="false">
                <use class="view" xlink:href="#symbol-view"></use>
            </svg>
            <p style="flex: 1; display: block; padding: 0.2em; border-radius: 0.25em; text-align: center; color: var(--co-color-min); background-color: var(--co-color-bg-base);">
                <strong style="display: block;">{{ name }}</strong>
                <code>.fill-{{ key }}</code>
            </p>
        </li>
    {% endfor %}
</ul>
