<p class="mb1">
    <a href="#" class="btnicon {{ modifier_class }} mr1 float-left">
        <svg height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btnskin-': ''}) }}"></use></svg>
        <span class="mask">{{ modifier_class|replace({'btnskin-': ''}) }}</span>
    </a>
    <button class="btnicon {{ modifier_class }} mr1 float-left">
        <svg height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btnskin-': ''}) }}"></use></svg>
        <span class="mask">{{ modifier_class|replace({'btnskin-': ''}) }}</span>
    </button>
    <button class="btnicon {{ modifier_class }} mr1" disabled>
        <svg height="16" width="16"><use xlink:href="#symbol-social-{{ modifier_class|replace({'btnskin-': ''}) }}"></use></svg>
        <span class="mask">{{ modifier_class|replace({'btnskin-': ''}) }}</span>
    </button>
</p>
